*{
    margin: 0;
    color: #03045E;
}
.nav-bar{
    background-color: #F5EE84;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15vh;
    margin-top: 1rem;
}


.nav-bar .list{
    display: flex;
    list-style: none;
    font-size: large;
    font-weight: 550;

}


.nav-bar .list li a{
    padding: 4vh;
    text-decoration: none;
    
}

.nav-bar .list li a:hover{
    color: rgb(130, 130, 330);
    text-decoration: underline;
}


.nav-bar .btns{
    display: flex;
    align-items: center;
    padding: 4vh;
}

.nav-bar .btns img{
    width: 4vh;
    padding: 1vh;
    transition: ease;
    transition-duration: 0.5s;
}

.nav-bar .btns img:hover{
    scale: 1.1;
}

.nav-bar button{
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03045E ;
    color: lightyellow;
    width: 12vh;
    height: 3.5vh;
    font-weight: 550;
    font-size: medium;
    border-radius: 1vh;
    margin-right: 1vh;
    transition-duration: 0.5s;
}

.nav-bar button:hover{
    scale: 1.1;
    background-color: hsl(239, 100%, 30%);
}

#hero{
    display: flex;
    justify-content: space-between;
    padding-left: 15vh;
    padding-top: 15vh;
    padding-right: 15vh;
    background-color:lightyellow;
}

.hero-text button{
    background-color: #F5EE84;
    color: #474306;
    width: 12vh;
    height: 5vh;
    border: none;
    border-radius: 1vh;
    font-size: medium;
    font-weight: 550;
    margin-top: 2vh;
    cursor: pointer;
    transition: ease;
    transition-duration: 0.5s;
}

.hero-text button:hover{
    background-color: yellowgreen;
}

.hero-text p{
    line-height: 1.5;
    font-size: 3vh ;
    font-weight: 540;
    font-size: 4vh;
}
#hero .hero-image img{
    width: 80vh;
}

#hero h1{
    font-size: 5vh;
}

#about{
    background-color: #F5EE84;
    padding: 5vh 15vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.sec-title{
    font-size: 5vh;
    font-weight: 800;
    line-height: 3;
    color: #474306 ;
}

.sec-text{
    font-size: 4vh;
    line-height:2 ;
    font-weight: 540;
}

.sec-text a{
    text-decoration: none;
    color: rgba(0, 0, 255, 0.938);
}

#about .skills{
    line-height: 2;
}

#about .skills img{
    padding: 0 3vh;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10vh;
    place-items: center;
}

#projects-container{
    padding: 5vh 15vh;
    background-color: lightyellow;
    line-height: 2;
}


.projects .project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5EE84;
    border-radius: 1vh;
    line-height: 2;
    padding: 2vh;  
}

.project-card .project-title{
    font-size: 3vh;
    font-weight: 800;
}

.project-card .project-text{
    font-size: 2vh;
    font-weight: 500;
}

.project-card .buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.project-card .buttons button{
    width: 12vh;
    height: 4vh;
    cursor: pointer;
    color: lightyellow;
    background-color:#03045E;
    border: none;
    border-radius: 1vh;
    transition: ease;
    transition-duration: 0.5s;
}

.project-card .buttons button:hover{
    background-color: #0b0eb8;
    scale: 1.05;
}

.project-card .icons{
    display: flex;
    justify-content: space-between;
    margin-top:2vh;
}

#contacts{
    padding: 5vh 15vh;
    line-height: 2;
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacts #full-name, #email{
    width: 30rem;
    height: 2rem;
}

#contacts  textarea{
    width: 30rem;
    height: 4rem;

}

#contacts input, textarea{
    border-radius: 0.5rem;
    border: 2px solid #474306;
    font-weight: 500;
    font-size: larger;
    padding: 1rem;
}

#contacts button{
    background-color: #F5EE84;
    color: #474306;
    width: 10vh;
    height: 5vh;
    border: none;
    border-radius: 1vh;
    font-size: medium;
    font-weight: 550;
    margin-top: 2vh;
    cursor: pointer;
}

#contacts button:hover{
    background-color:yellowgreen;
}


#footer{
    background-color: rgb(204, 204, 121);
    display: flex;
    justify-content: space-between;
    padding: 5vh;
}

#footer img{
    width: 4vh;
    padding: 1vh;
    transition: ease;
    transition-duration: 0.5s;
    cursor: pointer;
}

#footer img:hover{
    scale: 1.1;
}

#footer ul{
    list-style: none;
    font-size: larger;
    font-weight: 550;
}

#footer ul a{
    text-decoration: none;
}

#footer ul a:hover{
    color: rgb(130, 130, 330);
    text-decoration: underline;
}





